# TODO: this gitignore was added later on, into the paroject
# unnecessary files and folders that were pushed to github ripo
# need to be filtered out

.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog